<?xml version="1.0" encoding="utf-8"?>
<settings>
  <allocation>
    <mode name="R16">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="7">
      </range>
    </mode>
    <mode name="R8">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="7">
      </range>
    </mode>
    <mode name="IMM16">
      <strategy name="random"/>
      <range min="0" max="65535">
      </range>
    </mode>
    <mode name="IMM8">
      <strategy name="random"/>
      <range min="0" max="255">
      </range>
    </mode>
  </allocation>

  <delaySlot size="1" />
</settings>