<?xml version="1.0" encoding="utf-8"?>
<settings>
  <allocation>
    <mode name="GPR16">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="8" max="15">
      </range>
    </mode>
    <mode name="GPR32">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="8" max="15">
      </range>
    </mode>
  </allocation>

  <delaySlot size="1" />
</settings>