<?xml version="1.0" encoding="utf-8"?>
<settings>
  <setting name="random-seed" value="0"/>
  <setting name="branch-exec-limit" value="200"/>
  <setting name="code-file-extension" value="s"/>
  <setting name="code-file-prefix" value="test"/>
  <setting name="data-file-extension" value="s"/>
  <setting name="data-file-prefix" value="data"/>
  <setting name="exception-file-prefix" value="boot"/>
  <setting name="program-length-limit" value="10000"/>
  <setting name="trace-length-limit" value="100000"/>
  <setting name="comments-enabled" value=""/>
  <setting name="comments-debug" value=""/>
  <setting
    name="arch-dirs"
    value="k64=arch/k64/settings.xml:cpu=arch/demo/cpu/settings.xml:vliw=arch/demo/vliw/settings.xml:minimips=arch/minimips/settings.xml"
  />
</settings>
