<?xml version="1.0" encoding="utf-8"?>
<settings>

  <allocation>
    <mode name="R">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
    <mode name="F">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="31"/>
      </range>
    </mode>
  </allocation>

  <delaySlot size="1" />

</settings>
