
type word = card(32)
type hit = card(2)

type va_t = card(32)
type pa_t = card(32)
//type mem_t = card(1024)

var va[1, va_t]
var pa[1, pa_t]
var data[1, word]

var TLB_Hit[1, hit]
var L1_Hit[1, hit]
var L2_Hit[1, hit]
var OP_MEM_Hit[1, hit]

op TLB_access(pa)
action = 
{
    TLB_Hit;   
}

op L1_access(pa)
action = 
{
    L1_Hit;
}

op L2_access(pa)
action = 
{
    L2_Hit; 
}

op OP_MEM_access(pa)
action = 
{
    OP_MEM_Hit;
}

op address_conv(pa)
action = 
{
    pa = va;
}

op LOAD(pa : pa_t, data : word)
action = 
{
    TLB_access.action(pa);
        if TLB_Hit then
            L1_access.action;
            if L1_Hit then
               address_conv.action;
            else
                L2_access.action;
                if L2_Hit then
                  address_conv.action;
                else
                    OP_MEM_access.action(pa);
                    address_conv.action;
                    // if miss - search the data in operation memory
                endif;
            endif;
        else
            TLB_exception; 
        endif;
}

op STORE(pa : pa_t, data : word)
action = 
{
    L1_access.action
    if L1_Hit then
        L2_access.action
        if L2_Hit then
            OP_MEM.store(pa, data)
        else
            L2.store(pa, data)
            OP_MEM.store(pa, data)
        endif;
    else
        L1.store(pa, data)
        L2.store(pa, data)
        OP_MEM.store(pa, data)
    endif;
  }
