<?xml version="1.0" encoding="utf-8"?>
<settings>

  <memory>
    <region type="data" name="region" start="0000_0000" end="ffff_ffff" mode="rwxrwx">
      <access segment="SEG"/>
    </region>

    <!-- Virtual address space -->
    <region type="table" name="TranslationTable" start="0011_0000" end="0011_ffff" mode="rw-rw-"/>
    <region type="table" name="pmem"             start="0012_0000" end="ffff_ffff" mode="rw-rw-"/>
  </memory>

  <allocation>
    <mode name="REG">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
    <mode name="RCOP0">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
  </allocation>

  <delaySlot size="1" />

  <extensions>
    <!-- Data generators for branch instructions -->
    <extension name="beq-if-then"     path="ru.ispras.microtesk.mips.test.branch.MipsEqDataGenerator"/>
    <extension name="beql-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsEqDataGenerator"/>
    <extension name="bne-if-then"     path="ru.ispras.microtesk.mips.test.branch.MipsNeqDataGenerator"/>
    <extension name="bnel-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsNeqDataGenerator"/>
    <extension name="bgezal-if-then"  path="ru.ispras.microtesk.mips.test.branch.MipsGezDataGenerator"/>
    <extension name="bgezall-if-then" path="ru.ispras.microtesk.mips.test.branch.MipsGezDataGenerator"/>
    <extension name="bgez-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsGezDataGenerator"/>
    <extension name="bgezl-if-then"   path="ru.ispras.microtesk.mips.test.branch.MipsGezDataGenerator"/>
    <extension name="bgtz-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsGtzDataGenerator"/>
    <extension name="bgtzl-if-then"   path="ru.ispras.microtesk.mips.test.branch.MipsGtzDataGenerator"/>
    <extension name="blez-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsLezDataGenerator"/>
    <extension name="blezl-if-then"   path="ru.ispras.microtesk.mips.test.branch.MipsLezDataGenerator"/>
    <extension name="bltzal-if-then"  path="ru.ispras.microtesk.mips.test.branch.MipsLtzDataGenerator"/>
    <extension name="bltzall-if-then" path="ru.ispras.microtesk.mips.test.branch.MipsLtzDataGenerator"/>
    <extension name="bltz-if-then"    path="ru.ispras.microtesk.mips.test.branch.MipsLtzDataGenerator"/>
    <extension name="bltzl-if-then"   path="ru.ispras.microtesk.mips.test.branch.MipsLtzDataGenerator"/>

    <extension name="b-goto"    path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
    <extension name="bal-goto"  path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
    <extension name="j-goto"    path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
    <extension name="jr-goto"   path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
    <extension name="jal-goto"  path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
    <extension name="jalr-goto" path="ru.ispras.microtesk.mips.test.branch.MipsGotoDataGenerator"/>
  </extensions>

</settings>
